@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 40 33% 95%;
    --foreground: 215 30% 25%;

    --card: 0 0% 100%;
    --card-foreground: 215 30% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 30% 25%;

    --primary: 32 95% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 25% 65%;
    --secondary-foreground: 215 30% 25%;

    --muted: 40 20% 92%;
    --muted-foreground: 215 30% 35%;

    --accent: 32 95% 44%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 20% 88%;
    --input: 40 20% 88%;
    --ring: 32 95% 44%;

    --radius: 1rem;

    --chart-1: 32 95% 44%;
    --chart-2: 215 25% 65%;
    --chart-3: 215 30% 35%;
    --chart-4: 40 40% 55%;
    --chart-5: 215 30% 50%;
  }
  .dark {
    --background: 215 30% 15%;
    --foreground: 40 33% 95%;

    --card: 215 30% 20%;
    --card-foreground: 40 33% 95%;

    --popover: 215 30% 20%;
    --popover-foreground: 40 33% 95%;

    --primary: 32 95% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 25% 65%;
    --secondary-foreground: 40 33% 95%;

    --muted: 215 30% 20%;
    --muted-foreground: 215 25% 65%;

    --accent: 32 95% 44%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 30% 25%;
    --input: 215 30% 25%;
    --ring: 32 95% 44%;

    --chart-1: 32 95% 44%;
    --chart-2: 215 25% 65%;
    --chart-3: 215 30% 35%;
    --chart-4: 40 40% 55%;
    --chart-5: 215 30% 50%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
